@using PagedList.Mvc;
@model GaubongShop.Models.ViewModel.SearchCustomerVM
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width = device-width"/>
    <title>Tìm Kiếm</title>
    <style>
        .search-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h2>KHÁCH HÀNG</h2>
        @*// tìm kiếm*@
        @using (Html.BeginForm("CustomerList", "Customers", FormMethod.Get))
        {
            <div class="form-group search-container">
                @Html.TextBoxFor(m => m.SearchTerm,new
                {
                    @class = "form-control",
                    placeholder = "Nhập tên khách hàng"           
                })
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        }
    @Html.Partial("CustomerListPV", Model)
</body>
</html>