@model GaubongShop.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        .bg-cam {
            background-color: navajowhite
        }
        .upd a{
            color:white;
        }
        .nut{
            color:white;
        }
    </style>
</head>
<h2 class="bg-cam">CHỈNH SỬA TÀI KHOẢN</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDUser)
    @Html.Partial("Partial_Edit_Create", Model)
   
</div>
}




