
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        .hinh1 img{
            height:700px;
            width:700px;
        }
    </style>
</head>
<h2>CHÀO MỪNG BẠN ĐẾN VỚI TRANG QUẢN TRỊ </h2>
<div class="hinh1">
    
<img src="~/images/anhnenAdmin.jpg" />
</div>

