
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/TrangChuLayout.cshtml";
}

<style>
    body {
        background-color: white;
    }

    section {
        padding: 8px 10%;
        max-width: 65%;
        margin: 0 auto;
    }

    body p {
        font-family: 'Times New Roman', Times, serif;
        padding-left: 20px;
        font-size: 1.5rem;
    }
    .hinh4 img{
        height:100px;
        width:250px;
    }
</style>




<body>
    <h1 style="padding: 30px 20px">
        🎉🎉🎉🎉   THÔNG BÁO  🎉🎉🎉🎉

    </h1>
    <h1 style="text-align:center">BLACK FRIDAY – SALE UP TO 50%</h1>
    <p>😎 Ngày đen tối – Gấu rẻ vô đối</p>
    <p>🌑Ngày đen tối đã đến, và loạt deal siêu siêu hot từ Gấu Bông Online sẽ khiến trái tim bạn phải “rung rinh”. Đây chính là thời điểm lý tưởng để bạn chớp lấy cơ hội săn sale không tưởng.</p>
    <p>
        🎉 Thời gian diễn ra chương trình: 26/11/2024 – 30/11/2024<br>
        👉 Giảm đến 50% cho hàng loạt mẫu gấu bông cực cute và chất lượng. Chỉ trong thời gian có hạn, bạn sẽ có cơ hội đưa những em gấu đáng yêu về làm bạn đồng hành.
    </p>
    <p>🚀 Săn gấu nhanh tay đừng để cơ hội vụt mất nhé!.</p>
</body>
<img src="~/Content/Image/thongbao.jpg" />
